

<table class="userTable">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Country</th>
        <th>Date</th>
    </tr>
    </thead>
    <%
    Object.keys(data).forEach(function(key) {
        let row = data[key];
        %>
        <tr>
            <th><%= row.fname %> </th>
            <th><%= row.lname %> </th>
            <th><%= row.addr1 %> </th>
            <th><%= row.addr2 %> </th>
            <th><%= row.city %> </th>
            <th><%= row.state %> </th>
            <th><%= row.zip %> </th>
            <th><%= row.country %> </th>
            <th><%= row.unix_time %> </th>
        </tr>
        <%
    });
    %>
</table>


